@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Poppins, sans-serif;
}

/* --------------------------Nav Section------------------------------- */
.logo {
  padding-left: 5rem;
  cursor: pointer;
}

.action-svg {
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 20vh;
}
.nav-items {
  display: flex;
  justify-content: center;
  margin-left: 15rem;
  align-items: center;
}

.nav-item {
  font-size: 2rem;
  padding: 0 3rem;
  font-weight: lighter;
  cursor: pointer;
}

.active-item {
  color: #fe5e35;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------ */

.intro-section {
  display: flex;
  /* height: 80vh; */
  justify-content: space-around;
}
/* ------------------------------left section---------------------------------- */
.left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  margin: 0 auto;
}
.left-section h3 {
  font-size: 2.5rem;
}
.left-section img {
  width: 4rem;
}
.left-section h1 {
  font-size: 7rem;
  font-weight: 700;
  font-family: Fredoka;
}

/* .sub-headlines {
  display: flex;
  flex-direction: column;
  
} */
.sub-headline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.sub-headline p {
  padding-left: 1.5rem;
  font-size: 2rem;
}
.sub-headline img {
  background-color: #fe5e35;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.text {
  width: 80%;
  color: #5a5858;
  font-size: 1.2rem;
}
.action-btn1 {
  background-color: #fe5e35;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 3rem;
  font-weight: bold;
}

/* -----------media query------ */
@media screen and (max-width: 1200px) {
  .intro-section {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .dots {
    display: none;
  }

  .action-svg {
    display: none;
  }

  .text {
    width: 100%;
  }

  .left-section {
    padding-top: 5rem;
    width: 80%;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
  }

  .nav-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    align-items: center;
  }

  .left-section h1 {
    font-size: 4rem;
  }

  .logo {
    padding-left: 0;
  }
}

/* -----------------------------right section------------------------------------- */

.headphone-div {
  position: relative;
}
.headphone-img {
  width: 65%;
  position: relative;

  right: -15rem;
}

.discount-img {
  position: absolute;
  z-index: 1;
  top: 23rem;
  left: 10rem;
  width: 20%;
}

.discount-content {
  position: absolute;
  top: 26rem;
  left: 13rem;
  z-index: 2;
}

.discount-content h4 {
  font-size: 1.3rem;
  color: #ffffff;
  font-family: Fredoka;
  font-weight: 600;
}

.discount-content h1 {
  font-size: 4rem;
  color: #ffffff;
  font-family: Fredoka;
  font-weight: 600;
}

.dots {
  position: absolute;
  right: 33rem;
  top: 52rem;
}

.dots .yellow-dot,
.dots .tomato-dot,
.dots .black-dot {
  width: 2rem;
  height: 2rem;
  /* background-color: #fe5e35; */
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.yellow-dot {
  left: 5rem;
  background-color: #fe5e35;
}

.tomato-dot {
  left: 10rem;
  background-color: #000000;
}

.black-dot {
  background-color: #fbd104;
}

.action-btn {
  position: relative;
  bottom: -3rem;
  right: -27.5rem;
  background-color: #fe5e35;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

/* --------media query------- */

@media screen and (max-width: 800px) {
  .headphone-img {
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .action-btn {
    bottom: 0;
    left: 10rem;
  }

  .action-btn1 {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .discount-content {
    display: none;
  }

  .discount-img {
    display: none;
  }
}
